* {
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", Arial, sans-serif;
    margin:0;
}
#page-content {
    max-width: 90%;
    margin: 20px auto;
    display: block;
    clear: both;
    overflow: hidden;
    text-align: center;
}
#page-content h1 {
    font-weight: 300;
    margin: 1em 0;
}
a {
	text-decoration: none;
	color: #82C74C;
}
a:visited {
	color: #82C74C;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/*************
** FLASH
**************/
.flash {
    padding: 5px 10px;
    height: 35px;
    color: white;
    background-color: #D74038;
    border: 1px solid white;
    display: block;
    clear: both;
}
.flash.success {
    background-color: #00B15A;
}
.align-left {
    float: left;
    width:15%;
    text-align:left;
}
.align-center {
    float: left;
    width:70%;
    text-align:center;
}
.align-right {
    float: left;
    width:15%;
    text-align:right;
    cursor: pointer;
}
/*************
** FORMS
**************/
.form {
    width: 95%;
    margin: 0 auto;
}
.form h1 {
    text-align: center;
}
.form label {
    margin-top: 8px;
    margin-bottom: 3px;
    clear: left;
    float: left;
}
.form input {
    display: block;
    width: calc(100% - 11px);
    height: 40px;
    border-radius: 3px;
    border: 1px solid #B3B3B3;
    font-size: 1em;
    padding-left: 8px;
}

.form input[type="submit"] {
    margin-top: 10px;
    height: 50px;
    width: 100%;
    font-weight: 400;
    background-color: #82C74C;
    color: white;
    cursor: pointer;
}
.form input[type="submit"]:hover {
    transition: background-color 0.5s ease;
    background-color: #00A400;
}
.form .form_field_errors{
    margin: 0px;
}
/*************
** FOOTER
**************/
#footer
{
    border-top: 2px solid #EDEFF0;
    margin-top: 50px;
    padding: 30px 0;
    font-size: 0.9em;
    text-align: center;
    color: #828282;

}
#copyright {
    text-align: center;
    font-size: 0.8em;
}
/*************
** HEADER
**************/
#header
{
    /* background-image: radial-gradient(circle at center, #262626, #3A3A3A);*/
  	background-color: #262626; /*#5F5F5F*/
    padding: 10px 0px;
}
#navbar h1{
	margin: 0;
	font-weight: 500;
    text-align: center;
}
#navbar a {
    margin: 5px auto;
    width: 90%; 
    color: white;
	display: inline-block;
	padding: 0 5px;
	line-height: 1;
}
#navbar div {
    text-align: center;
}
#navbar div a{
    padding: 10px 0px;
}
#navbar a:hover {
    color: #82C74C;
}
#navbar .main_link {
	font-weight: bold;
	padding: 10px 15px;
	border-radius: 3px;
	border: 2px solid white;
}
#navbar .main_link:hover {
    border-color: #82C74C;
}
#root {
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;
}
/*************
** column
**************/
.column {
    width: 300px;
    height: 300px;
    max-height: 300px;
    border-radius: 4px;
    margin: 0px 8px;
    border: 1px solid #D9DADB;
    /*background: #D9DADB;*/
    overflow: hidden;
    cursor: pointer;
    cursor: hand;
    cursor: grab;
    cursor: -webkit-grab;
    display: inline-block;
}
.column-container {
    height: calc(100% - 45px);
    width: 100%;
    overflow-y:scroll; 
    position:relative;
}
.column > p {
    font-weight: 500;
    font-size: 1.1em;
    text-align: left;
    padding: 10px 10px;
    margin: 0px;
    border-bottom: 1px solid #D9DADB;
}
.column-item{
    width: 93%;
    margin: 7px auto;
    height: 50px;
    background: white;
    border-radius: 3px;
    color: black;
    z-index: -1;
    border-bottom: 1px solid #D9DADB;
    /*box-shadow: 1px 1px 1px #AEB0B0;*/
    cursor: pointer;
}
.column-item p{
    margin: 0px 0px;
}

/*************
** RESPONSIVE > 600PX
**************/
@media all and (min-width: 600px) {
    #header {
        padding: 20px 40px;
    }
    #navbar h1{
        float: left;
        margin-top: 3px;
    }
    #header div a {
        margin: 5px 5px;
        width: inherit;
    }
    #navbar #navigation_links{
        float: left;
        margin-left: 20px;
        margin-top: 3px;
    }
    #navbar #navigation_auth{
        float: right;
    }
    .form {
        margin: 100px auto;
        width: 400px;
    }
    #page-content {
        max-width: 80%;
    }
}