<div id="navbar">
    <h1><a href="{{ url_for('home') }}">{{ config.SITE_NAME }}</a></h1>

    <div id="navigation_links">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="https://github.com/shane-kercheval/flask-postgresql-template" target="_blank">GitHub</a>
    </div>

    <div id="navigation_auth">
        {% if session["profile"] %}
            <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            <a class="main_link" href="{{ url_for('register') }}">Sign up</a>
        {% endif %}
    </div>
</div>